@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;500;700&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}